a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.header__wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.header__title {
    margin-left: 48px;
}

.header__buttons-wrapper {
    margin-right: 48px;
}

.header__button {
    margin: 10px;
}




.footer__wrapper {
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    width: 100vw;
}

.footer__button {
    margin: 20px;
}