.header__box {
    height: 100px;
}

.header__wrapper {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    height: 100px;
    justify-content: space-between;
    left: 0;
    padding: 0 80px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}

.header__buttons-wrapper {
    display: flex;
    align-items: center;
}

.header__section-division {
    height: 42px;
    border: solid 2px var(--purple2);
}

.header__title {
    color: var(--purple3);
    margin: 0;
    font-size: 72px;
}

.header__button {
    border: none;
    color: var(--purple2);
    margin: 0 32px;
    padding: 0;
    font-weight: bold;
}

.header__language {
    background: none;
    border: none;
    color: var(--purple2);
    margin-left: 24px;
    padding: 0;
}

.header__language:first-of-type {
    margin-left: 32px;
}