.header__box {
    height: 75px;
}

.header__wrapper {
    align-items: center;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    height: 75px;
    justify-content: space-between;
    left: 0;
    padding: 0 22px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}

.header__buttons-wrapper {
    display: none;
}

.header__section-division {
    height: 42px;
    border: solid 2px var(--purple2);
}

.header__title {
    width: auto;
    height: 22px;
}

.header__button {
    border: none;
    color: var(--purple2);
    margin: 0 32px;
    padding: 0;
    font-weight: bold;
}

.header__language {
    background: none;
    border: none;
    color: var(--purple2);
    margin-left: 24px;
    padding: 0;
}

.header__language:first-of-type {
    margin-left: 32px;
}

@media only screen and (min-width: 900px) {
    .header__box {
        height: 100px;
    }

    .header__wrapper {
        height: 100px;
        padding: 0 80px;
    }

    .header__title {
        height: 40px;
    }

    .header__buttons-wrapper {
        display: flex;
        align-items: center;
    }
}