@import "variables.css";
@import "header/header.css";
@import "components/bodyText.css";
@import "components/projectView.css";

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    margin: 0 auto;
}

body, html, .top {
    height: 100vh;
    overflow-x: hidden;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.footer__top-spacer {
    margin-top: 58px;
}
.footer__wrapper {
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    margin: 20px 0;
    position: absolute;
    width: 100vw;
    z-index: 10;
}

.footer__button {
    margin: 20px;
}

.main__project {
    display: flex;
    flex-grow: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main__project div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: gray;
    transition: background-color .5s;
    z-index: 2;
}

.main__project-container {
    display: flex;
    flex: 1;
}

.main__project--link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 36px;
    z-index: 3;
}

.main__project--link:hover {
    text-decoration: none;
}

.main__project--link:hover + div {
    transition: background-color .5s;
    background-color: transparent;
}

.top {
    display: flex;
    flex-direction: column;
}

.main__titles {
    margin-bottom: 50px;
}