.body-text__wrapper {
    margin: 0 22px;
}

.body-text__title {
    width: 60%;
    font-size: 28px;
    margin: 16px 0;
}
.body-text__title strong {
    color: var(--purple);
}

.body-text__subTitle {
    font-size: 28px;
    margin: 0;
    line-height: 34px;
}
.body-text__subTitle strong {
    color: var(--purple);
}

.body-text__description {
    font-size: 16px;
    line-height: 34px;
}
.body-text__description strong {
    color: var(--purple);
}

@media only screen and (min-width: 900px) {
    .body-text__wrapper {
        margin: 0 80px;
        max-width: 30%;
    }

    .body-text__title {
        font-size: 48px;
        width: auto;
    }

    .body-text__subTitle {
        font-size: 48px;
        line-height: 60px;
    }

    .body-text__description {
        font-size: 16px;
    }
}